.search-el
  display: flex
  flex-direction: row

.display-el
  display: flex
  justify-content: center
table
  width: 100%
  border-collapse: collapse
  margin-top: 10px

th, td
  border: 2px solid rgb(71, 70, 70)
  text-align: center
  padding: 7px

th
  background-color: black
  color: white

td
  background-color: white


// Styles for the search input and button
div.search-container
  display: flex
  justify-content: center
  align-items: center
  margin: 20px

  form
    display: flex
    margin: 20px

    input
      padding: 0.5rem
      border: 1px solid #ccc
      border-radius: 4px
      width: 700px

    button
      padding: 0.5rem 1rem
      border: none
      background-color: #6c757d // Muted color
      color: white
      cursor: pointer
      border-radius: 4px
      margin-left:0.5rem
      &:hover
        background-color: #5a6268 // Darker muted color

  // Styles for the book details section
  h3
    text-align: center
    margin-top: 1rem

  p
    text-align: center
    margin: 0.5rem 0

  // Styles for the update button
  button[routerLink]
    display: block
    margin: 1rem auto
    padding: 0.5rem 1rem
    border: none
    background-color: #28a745
    color: white
    cursor: pointer
    border-radius: 4px
    text-align: center
    &:hover
      background-color: #218838

  // Styles for the error message
  div[ngIf="errorMessage"]
    text-align: center
    color: red
    margin-top: 1rem

