.search-el
  display: flex
  flex-direction: row

table
  width: 100%
  border-collapse: collapse
  margin-top: 10px

th, td
  border: 2px solid rgb(71, 70, 70)
  text-align: center
  padding: 7px

th
  background-color: black
  color: white

td
  background-color: white