<div class="top-el">
  <div class="search-container">
    <form (ngSubmit)="onSubmit()">
      <div>
        <input placeholder="Enter BookID" type="text" id="bookID" required [(ngModel)]="book.bookID" name="bookID">
      </div>
      <div>
        <button type="submit">Search</button>
      </div>
    </form>
  </div>
  <div class="add-btn">
    <button type="button" class="btn btn-success" routerLink="/addBooks"><i class="fas fa-plus"></i> Add Book</button>
  </div>
  </div>
  <div class="display-el" [hidden]="submitted">
  <table>
    <thead>
      <tr>
        <th>Book Id</th>
        <th>Book title</th>
        <th>Book price</th>
        <th>Author Name</th>
        <th>Category Name</th>
        <th>Book img</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.bookID}}</td>
        <td>{{book.title}}</td>
        <td>{{book.price}}</td>
        <td>{{book.authorName}}</td>
        <td>{{book.categoryName}}</td>
        <td> <img [src]="'data:image/jpeg;base64,' + book.coverImage" alt="Book Cover"
              style="max-width: 100px; max-height: 100px;"></td>
        <td>
          <button (click)="update(book.bookID)">Update</button>
          <button (click)="delete(book.bookID)">Delete</button>
      </td>
        <!-- <td class="actions-cell">
          <button class="action-button update-button" [routerLink]="['/updateBook', book.bookID]" title="Update">
            <i class="fas fa-edit"></i>
          </button>
          <button class="action-button delete-button" [routerLink]="['/deleteBook', book.bookID]" title="Delete">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
<app-deletebook [ngStyle]="{'display':display}"></app-deletebook>
<div [hidden]="!submitted && !noRecordFound">
  <div>
    <table>
      <thead>
        <tr>
          <th>Book Id</th>
          <th>Book title</th>
          <th>Book price</th>
          <th>Author Name</th>
          <th>Category Name</th>
          <th>Book img</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{book.bookID}}</td>
          <td>{{book.title}}</td>
          <td>{{book.price}}</td>
          <td>{{book.authorName}}</td>
          <td>{{book.categoryName}}</td>
          <td> <img [src]="'data:image/jpeg;base64,' + book.coverImage" alt="Book Cover"
                style="max-width: 100px; max-height: 100px;"></td>
          <td><a routerLink="/updateBook">Update</a></td>
          <td><a routerLink="/deleteBook">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>