<div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()">
        <div>
            <label for="bookID">Book ID:</label>
            <input type="text" id="bookID" required [(ngModel)]="book.bookID" name="bookID">
        </div>
        <button type="submit">Search</button>
    </form>
</div>
<!--{{noRecordFound}}-->
<div [hidden]="!submitted && !noRecordFound">
<div>
    <table>
        <thead>
            <tr>
                <th>Book Id</th>
                <th>Book title</th>
                <th>Book price</th>
                <th>Book authorId</th>
                <th>Book categoryId</th>
                <th>Book img</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{book.bookID}}</td>
                <td>{{book.title}}</td>
                <td>{{book.price}}</td>
                <td>{{book.authorID}}</td>
                <td>{{book.categoryID}}</td>
                <td> <img [src]="'data:image/jpeg;base64,' + book.coverImage" alt="Book Cover" style="max-width: 100px; max-height: 100px;"></td>
                <td><a routerLink="/updateBook">Update</a></td>
                <td><a routerLink="/deleteBook">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
</div>