<div class="top-el">
  <div class="search-container">
    <form (ngSubmit)="onSubmit()">
      <div>
        <input placeholder="Enter BookID" type="text" id="bookID" required [(ngModel)]="book.bookID" name="bookID">
      </div>
      <div>
        <button type="submit">Search</button>
      </div>
    </form>
  </div>
  <div class="add-btn">
    <button type="button" class="btn btn-success" routerLink="/addBooks"><i class="fas fa-plus"></i> Add Book</button>
  </div>
  </div>
  <div class="display-el" [hidden]="submitted">
    <!-- <h4 *ngIf="books.length == 0">{{loading}}</h4> -->
    <div class="spinner-grow text-primary" role="status" *ngIf="books.length == 0" style="margin: 100px;">
      <span class="visually-hidden">Loading...</span>
    </div>
  <table *ngIf="books.length > 0">
    <thead>
      <tr>
        <th>Book Id</th>
        <th>Book title</th>
        <th>Book price</th>
        <th>Author Name</th>
        <th>Category Name</th>
        <th>Book img</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.bookID}}</td>
        <td>{{book.title}}</td>
        <td>{{book.price}}</td>
        <td>{{book.authorName}}</td>
        <td>{{book.categoryName}}</td>
        <td> <img [src]="'data:image/jpeg;base64,' + book.coverImage" alt="Book Cover"
              style="max-width: 100px; max-height: 100px;"></td>
        <td>
          <button class="action-btn" (click)="update(book.bookID)"><i class="fas fa-edit"></i></button>
          <button class="action-btn" (click)="delete(book.bookID)"><i class="fas fa-trash-alt"></i></button>
      </td>
      </tr>
    </tbody>
  </table>
</div>

<app-deletebook [ngStyle]="{'display':display}"></app-deletebook>
<div [hidden]="!submitted && !noRecordFound">
  <div>
    <table>
      <thead>
        <tr>
          <th>Book Id</th>
          <th>Book title</th>
          <th>Book price</th>
          <th>Author Name</th>
          <th>Category Name</th>
          <th>Book img</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{book.bookID}}</td>
          <td>{{book.title}}</td>
          <td>{{book.price}}</td>
          <td>{{book.authorName}}</td>
          <td>{{book.categoryName}}</td>
          <td> <img [src]="'data:image/jpeg;base64,' + book.coverImage" alt="Book Cover"
            style="max-width: 100px; max-height: 100px;">
          </td>
          <td>
            <button class="action-btn" (click)="update(book.bookID)"><i class="fas fa-edit"></i></button>
            <button class="action-btn" (click)="delete(book.bookID)"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <div class="pagination">
  <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0"><i class="fa-solid fa-arrow-left"></i></button>
  <span>Page {{currentPage + 1}} of {{totalPages}}</span>
  <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage >= totalPages -1"><i class="fa-solid fa-arrow-right"></i></button>
</div> -->

<!-- <div class="pagination">
  <button [disabled]="currentPage === 0" (click)="onPageChange(currentPage - 1)">Previous</button>
  <span>{{ currentPage + 1 }} / {{ totalPages }}</span>
  <button [disabled]="currentPage === totalPages - 1" (click)="onPageChange(currentPage + 1)">Next</button>
</div> -->