<div class="container">
    <div class="search-container">
      <input type="text" [(ngModel)]="searchQuery" placeholder="Search for books..." />
      <button (click)="fetchbooks()">Search</button>
    </div>
    <app-filter (filterCriteria)="onFilterChange($event)"></app-filter>
    <div class="content">
      <div *ngIf="books.length > 0">
        <div *ngFor="let book of books" class="book-item">
          <a [routerLink]="['/book-details', book.bookID]">
            <img [src]="book.coverImage ? 'data:image/jpeg;base64,' + book.base64img : ''" alt="{{ book.title }}" />
          </a>
          <h3>
            <a [routerLink]="['/book-details', book.bookID]">{{ book.title }}</a>
          </h3>
          <p>Author: {{ book.authorName }}</p>
          <p>Category: {{ book.categoryName }}</p>
        </div>
      </div>
    </div>
  </div>