<div class="card m-2">
    <div class="card-body">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <h6 class="card-title" *ngIf="!userView">{{review.userName}}</h6>
                <h6 class="card-title" *ngIf="userView">{{review.bookTitle}}</h6>
            </div>
            <div *ngIf="canModify" style="cursor: pointer; margin-left: 10px; display: flex;">
                <h6 class="me-3" (click)='editReview()'><i class="fa-solid fa-pen-to-square"></i></h6>
                <h6 class="me-3" (click)='deleteReview()'><i class="fa-solid fa-trash"></i></h6>
            </div>
        </div>
        <app-stars [rating]="review.rating" />
        <p class="card-text">{{review.comment}}</p>
    </div>
</div>