<div class="d-flex flex-column min-vh-100">
    <!-- <app-left-sidebar
  [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
  (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"
/> -->
<!-- <app-maind
  [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
  [screenWidth]="screenWidth()"
/> -->
    <!-- <a routerLink="/getInventory">Inventory</a> -->
     
    
    <router-outlet></router-outlet>
    <footer class="text-center p-3 mt-auto"> &copy; Digital Book Store Management</footer>
</div>