<div class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">DBS - Home</a>
            <span class="navbar-text"> | </span>
            <a class="nav-link" routerLink="/review/all">View All Reviews</a>
            <span class="navbar-text"> | </span>
            <a class="nav-link" routerLink="/review/allReviews">All Reviews</a>
        </div>
    </nav>

    <router-outlet></router-outlet>

    <footer class="text-center p-3 mt-auto"> &copy; Digital Book Store Management</footer>
</div>