<div>
    <form [formGroup]="formData" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)">
    <table>
    <tr>
        <td><label for="bookID">Book Id:</label></td>
        <td><input type="text" name="bookID" formControlName="bookID" required></td>
        <span *ngIf="formData.controls.bookID.invalid && formData.controls.bookID.touched" 
        style="color:red">
            Book Id is invalid!!!
        </span>
          <span *ngIf="formData.controls.bookID.errors?.['required'] && formData.controls.bookID.touched" 
          style="color:red">
            Book Id cannot be blank
        </span>
    </tr>
    
    <tr>
        <td><label for="title">Title:</label></td>
        <td><input type="text" name="title" formControlName="title" required></td>
           <span *ngIf="formData.controls.title.invalid && formData.controls.title.touched" 
           style="color:red">
            Title is invalid!!!
        </span>
          <span *ngIf="formData.controls.title.errors?.['required'] && formData.controls.title.touched" 
          style="color:red">
            Title cannot be blank
        </span>
    
    </tr>
    
    <tr>
        <td><label for="price">Price:</label></td>
        <td><input type="text" name="price" formControlName="price" required></td>
           <span *ngIf="formData.controls.price.invalid && formData.controls.price.touched" 
           style="color:red">
            Price is invalid!!!
        </span>
          <span *ngIf="formData.controls.price.errors?.['required'] && formData.controls.price.touched"
           style="color:red">
            Price cannot be blank
        </span>
    
    </tr>
    <tr>
        <td><label for="authorID">AuthorID</label></td>
        <td><input type="text" name="authorID" formControlName="authorID"></td>
           <span *ngIf="formData.controls.authorID.invalid && formData.controls.authorID.touched" 
           style="color:red">
            author ID is invalid!!!
        </span>
          <span *ngIf="formData.controls.authorID.errors?.['required'] && 
          formData.controls.authorID.touched" style="color:red">
            author ID cannot be blank
        </span>
    
    </tr>
    <tr>
        <td><label for="categoryID">CategoryID</label></td>
        <td><input type="text" name="categoryID" formControlName="categoryID"></td>
           <span *ngIf="formData.controls.categoryID.invalid && formData.controls.categoryID.touched" 
           style="color:red">
            Category ID is invalid!!!
        </span>
          <span *ngIf="formData.controls.categoryID.errors?.['required'] && 
          formData.controls.categoryID.touched" style="color:red">
            Category ID cannot be blank
        </span>
    </tr>
    <tr>
        <td><label for="base64img">Cover Image</label></td>
        <td><input type="file" name="base64img" formControlName="base64img" (change)="onFileChange($event)"></td>
        <span *ngIf="formData.controls.base64img.invalid && formData.controls.base64img.touched"
          style="color:red">
          Cover Image is invalid!!!
        </span>
        <span *ngIf="formData.controls.base64img.errors?.['required'] &&
          formData.controls.base64img.touched" style="color:red">
          Cover Image cannot be blank
        </span>
      </tr>
    <tr>
        <td><input type="Submit" value="Register" [disabled]="registerForm.invalid"></td>
        <td><input type="Reset" value="Cancel"></td>
        </tr>
    </table>
    <p>Book Id:{{bookID.value}}</p>
    <p>Title:{{title.value}}</p>
    <p>Price:{{price.value}}</p>
    <p>AuthorID:{{authorID.value}}</p>
    <p>CategoryID:{{categoryID.value}}</p>
    <p>Cover Image:{{base64img.value}}</p>
    </form>
    
    </div>

