<div class="booksearch">
    <div class="box">
        <div class="search-field">
          <div class="search-section">
            <input type="text" [(ngModel)]="searchQuery" placeholder="Search book...">
            <button routerLink="/search" [queryParams]="{'searchQuery':searchQuery}">Search</button>
          </div>
        </div>
      </div>
  

<div class="book-carousel">
  <div class="book-list">
      <div class="book-item">
        <img src="assets/book.png" alt="Book 1">
      </div>
      <div class="book-item">
        <img src="assets/book1.jpg" alt="Book 2">
      </div>
      <div class="book-item">
        <img src="assets/book2.jfif" alt="Book 3">
      </div>
      <div class="book-item">
        <img src="assets/book3.jfif" alt="Book 4">
      </div>
      <div class="book-item">
        <img src="assets/book4.jfif" alt="Book 5">
      </div>
      <div class="book-item">
        <img src="assets/book5.jfif" alt="Book 6">
      </div>
  </div>
</div>