<div class="b-container">
    <header>
      <nav>
        <div>
          <a href="#"><img src="assets/image.png" alt="" class="logo-image"></a>
          <a href="#">DBS</a>
        </div>
        <a href="#">Home</a>
        <a href="#">Category</a>
        <a href="#">New Arrivals</a>
        <a href="#">Best Selling Books</a>
        <a href="#">Deal of The Day</a>
        <a href="#">Contact Us</a>
      </nav>
      <div class="user-actions">
        <button>Sign In</button>
      </div>
    </header>
  
    
   
  </div>