<div class="b-container">
    <header>
      <nav>
        <div>
          <a routerLink=""><img src="assets/image.png" alt="" class="logo-image"></a>
          <a routerLink="">DBS</a>
        </div>
        <a routerLink="home">Home</a>
        <a routerLink="">Category</a>
        <a routerLink="">New Arrivals</a>
        <a routerLink="">Best Selling Books</a>
        <a routerLink="">Deal of The Day</a>
        <a routerLink="">Contact Us</a>
      </nav>
      <div class="user-actions">
        <button *ngIf="!isLoggedIn()" routerLink="login">Sign In</button>
        <button *ngIf="isLoggedIn()" (click)="logout()">Log Out</button>
      </div>
    </header>
  
    
   
  </div>