<div class="container row p-2 m-2 bg-black text-white">
    <div class="col">
        <img style="height: auto; width: 100%;"
            [src]="book.coverImage ? 'data:image/jpeg;base64,' + book.base64img : ''" alt="{{ book.title }}" />
    </div>
    <div class="col w-75">
        <p>by {{book.authorName}}</p>
        <h5>{{book.title}}</h5>
        <h5>{{book.price | currency: 'INR'}}</h5>
        <h6 *ngIf="quantity > 0" style="color: red;">Only {{quantity}} left!</h6>
        <h6 *ngIf="quantity == 0" style="color: red;">SOLD OUT!</h6>
    </div>
</div>