<div class="container rounded row p-3 m-2" style="background-color:grey;">
    <div class="col">
        <img style="height: auto; width: 100%;"
            [src]="book.coverImage ? 'data:image/jpeg;base64,' + book.base64img : ''" alt="{{ book.title }}" />
    </div>
    <div class="col w-75">
        <p>by {{book.authorName}}</p>
        <h5>{{book.title}}</h5>
        <h5>{{price | currency: 'INR'}} <span class="text-decoration-line-through" style="color: whitesmoke" >{{book.price | currency: "INR"}}</span></h5>
        <h6 *ngIf="quantity > 0" style="color: red;">Only {{quantity}} left!</h6>
        <h6 *ngIf="quantity == 0" style="color: red;">SOLD OUT!</h6>
    </div>
</div>